/*Styles for general tags*/
.wrapper{
    width:4pt;
}
body{
    margin:0;
}

h2{
    font-family:monospace;
    font-size:38pt;
    color: #8001FE;
    margin-block-start: 0pt;
    margin-block-end:0pt;
}
h3{
    color: #8001FE;
    font-family:monospace;
    font-size:26pt;
}
p{
    margin-block-start: 0pt;
    margin-block-end:0pt;
    color: #8001FE;
    font-family:monospace;
}

button{
    position:relative;
}
img{
    overflow: hidden;
    overflow-clip-margin: unset;
}
/*Styles for the top navbar*/
.topNavBar{
    overflow:hidden;
    position: fixed;
    width:100%;
    z-index:2;
    height:25vw;
    display:grid;
    grid-gap:24pt;
    grid-template-columns: repeat(auto-fit, minmax(38pt, 1fr));
    background:linear-gradient( black, #350E56);

    .top-navbar-links-container{
        padding: 18pt 0;
        grid-column:auto/span 2;
        margin-left: 300pt;

        a.top-navbar-links-container{
        font-family:monospace;
        color: #8001FE;
        font-size:18pt;
        padding:26pt;
        margin: 0;
        }
        a.top-navbar-links-container:hover{
            transition: 0.5s ease;
            color:white;
        }
    }
    .hamburger-bttn{
        height:48pt;
        .hamburger-bttn-img{
            height:36pt;
            justify-content:center;
            align-items:center;
            margin-top:.900pt;
            float:right;
        }
    }
}
.dropdown-menu{
    overflow:hidden;
    position: fixed;
    display:block;
    width: 0%;
    height:0%;
    justify-content:center;
    transition:height .75s ease-in-out;
    z-index:1;
}
.dropdown-links-container{
    display:grid;
}
.dropdown-links{
    margin-bottom:.60pt;
    padding: 0 .60pt;
    color: #8001FE;
    font-family:monospace;
    font-size: 0vw;
}
#dropdown-my-portfolio-link{
    margin-top:25vw;
}

.top-navbar-home-link{
    margin: .420pt 0;
    margin-bottom:18pt;
    font-family:monospace;
    color:white;
    font-size:19pt;
    margin-left:.300pt;
    display:flex;
    width:50%;
    a.top-navbar-home-link:hover{
        transition: 0.5s ease;
        color:#8001FE;
    }
}

/*Styles for the container holding the headshot and my titles*/
.headshot-title {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    position: relative;
    width:100%;
    height:auto;
    grid-template-columns: repeat(auto-fit, minmax(375pt,1fr));
    overflow-x:hidden;
    /*Styles for text next to my headshot*/

    .self-description-headers {
        background: linear-gradient(#cf9bfe, #8001FE);
        width:100%;
        .descriptors {
            font-size: 16pt !important;
            font-family: monospace;
            p.descriptors {
                margin: .180pt;
                text-align: center;
                color: white;
                background-color: black;
                border-radius: 24pt;
                padding: .60pt;

            }

            /* #descriptor-analyst {
                margin-right:17vw;
                border-radius:24pt;
                text-align:center;
            } */

            /* #descriptor-designer {
                width: 57pt;
                float: right;
                border-radius:24pt;
                padding-left:5vw;
                padding-right:5vw;
                margin-right:0;
            }

            #descriptor-programmer {
                color: black;
                background-color: white;
                width: 80vw;
                border-radius:24pt;
                padding-left:5vw;
                padding-right:5vw;
                margin-top:.48pt;
                margin-bottom:.300pt;
            } */
        }
    }

    .name-container{
        height:84pt;
        width:100%;
        margin-bottom:9vw;
        }
    .name{
        padding:0 10vw;
        vertical-align: text-bottom;
        text-align:center;
        color:white;
        font-family:monospace;
        font-size:25pt;
        text-decoration: underline;
        }
    /*Styles for headshot*/
    .headshot-below-headers{
        padding-top:17vw;
        height:auto;
        width:100%;
        display:flex;
        #myHeadshot{
            height:auto;
            object-fit: contain;
            align-self: end;
        }
    }
}

/*Styles for the container containing my portfolio*/
.myPortfolio{
    background-color:white;
    padding:108pt 0pt;
    display: grid;
    position: relative;
    grid-gap:24pt;
    grid-template-columns: repeat(auto-fit, minmax(94pt, 1fr));
    #heading-my-portfolio{
        grid-row:1;
        color: white;
        padding-top:.12pt;
        padding-bottom:.12pt;
        text-align: center;
        font-size:96pt;
        grid-column:auto/span 3;
        background: linear-gradient(#cf9bfe, #8001FE);
        border-radius:24pt;
        margin:12pt;
        margin-bottom:0;
        margin-top:0pt;
    }
    /*Styles related to the Personal Finance Manager container.*/
    .personalFinanceManager{
        position:relative;
        display: grid;
        grid-row: 2;
        align-content: center;
        justify-content: center;
         #img-personal-finance-manager{
            border-radius: 60pt;
            width:324pt;
            border: solid;
            border-color: black;
        }
        .financeHoverEffect{
            position:absolute;
            width:100%;
            height:100%;
            background-color: rgba(0,0,0,.4);
            opacity:0;
            transition: 0.5s ease;
            width:326pt;
            justify-self:center;
            border-radius:60pt;
        }
    }
    .personalFinanceManager:hover .financeHoverEffect{
         opacity:1;
     }
    .personalWebsite{
        display: grid;
        grid-row: 2;
        align-content: center;
        justify-content: center;
        img.personalWebsite{
            border-radius:60pt;
            width:324pt;
            border: solid;
            border-color: black;
        }
        .personalWebsiteHoverEffect{
            position:absolute;
            width:100%;
            height:100%;
            background-color: rgba(0,0,0,.4);
            opacity:0;
            transition: 0.5s ease;
            width:326pt;
            height:329pt;
            justify-self:center;
            border-radius:60pt;
        }
    }
    .personalWebsite:hover .personalWebsiteHoverEffect{
        opacity:1;
    }
    .carbonesMarketingSystem{
        display: grid;
        grid-row: 2;
        align-content: center;
        justify-content: center;
        img.carbonesMarketingSystem{
            border-radius:60pt;
            height:324pt;
            width:324pt;
            object-fit: scale-down;
            border: solid;
            border-color: black;
            }
        .carbonesHoverEffect{
            position:absolute;
            width:100%;
            height:100%;
            background-color: rgba(0,0,0,.4);
            opacity:0;
            transition: 0.5s ease;
            width:326pt;
            height:326pt;
            justify-self:center;
            border-radius:60pt;
        }
        }
    .carbonesMarketingSystem:hover .carbonesHoverEffect{
        opacity:1;
        }
    }

/*Styles for the Personal Finance Manager Popup*/
.pop-up-personal-finance-manager{
    display:none;
    z-index: 3;
    position: fixed;
    overflow: auto;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .pop-up-finance-content {
        width: 60%;
        height: auto;
        margin: 15% auto;
        background-color: white;
        box-sizing: border-box;
        border: .60pt solid;
        border-radius: 18pt;
        border-color: #8001FE;

        #pop-up-finance-close-button{
            float:right;
            margin:.36pt .84pt;
            background:rgba(0,0,0,0);
            border-radius:.36pt;
            border-color:lightslategrey;
            color:#8001FE;
            font-family:monospace;
            font-size:22pt;
        }
        #pop-up-finance-close-button:hover{
            transition:.5s ease;
            color:white;
            background:#8001FE;
        }
        #image-personal-finance-manager{
            display:block;
            width:600pt;
            margin-right:auto;
            margin-left:auto;
        }
        #text-personal-finance-manager{
            padding:24pt;
        }
        a.pop-up-finance-content{
            font-family: monospace;
            font-size:21pt;
            padding:.60pt;
            margin-left:.900pt;
            color:black;
            margin-bottom:.24pt;
            border:0;
            background:none;
        }
        a.pop-up-finance-content:hover{
            transition: 0.5s ease;
             color:#8001FE;
             text-decoration-color:#8001FE;
         }
        #heading-personal-finance-manager{
            text-align:center;
            font-size:48pt;
        }
    }
}

/*Styles for the Personal Website Popup*/
.pop-up-personal-website{
    display:none;
    z-index: 3;
    position: fixed;
    overflow: auto;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    .pop-up-personal-website-content{
        width: 60%;
        height: auto;
        margin: 15% auto;
        background-color: white;
        box-sizing: border-box;
        border: .60pt solid;
        border-radius: 18pt;
        border-color: #8001FE;
        #image-personal-website{
            display:block;
            width:600pt;
            margin-right:auto;
            margin-left:auto;
        }
        #heading-personal-website{
            text-align:center;
            font-size:48pt;
        }
        #pop-up-personal-website-close-button{
            float:right;
            margin:.36pt .84pt;
            background:rgba(0,0,0,0);
            border-radius:.36pt;
            border-color:lightslategrey;
            color:#8001FE;
            font-family:monospace;
            font-size:22pt;
        }
        #pop-up-personal-website-close-button:hover{
            transition:.5s ease;
            color:white;
            background:#8001FE;
        }
        a.pop-up-personal-website-content{
            font-family: monospace;
            font-size:21pt;
            padding:.60pt;
            margin-left:.900pt;
            color:black;
            margin-bottom:.24pt;
            border:0;
            background:none;
        }
        a.pop-up-personal-website-content:hover{
            transition: 0.5s ease;
            color:#8001FE;
            text-decoration-color:#8001FE;
        }
        #text-personal-website{
            padding:24pt;
        }
    }
}

/*Styles for the Carbone's Website Popup*/
.pop-up-carbones-website{
    display:none;
    z-index: 3;
    position: fixed;
    overflow: auto;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    .pop-up-carbones-website-content {
        width: 60%;
        height: auto;
        margin: 15% auto;
        background-color: white;
        box-sizing: border-box;
        border: .60pt solid;
        border-radius: 18pt;
        border-color: #8001FE;
        #pop-up-carbones-website-close-button{
            float:right;
            margin:.36pt .84pt;
            background:rgba(0,0,0,0);
            border-radius:.36pt;
            border-color:lightslategrey;
            color:#8001FE;
            font-family:monospace;
            font-size:22pt;
        }
        #pop-up-carbones-website-close-button:hover{
            transition:.5s ease;
            color:white;
            background:#8001FE;
        }
        #image-carbones-website{
            display:block;
            width:360pt;
            margin-right:auto;
            margin-left:auto;
        }
        #pop-up-carbones-website-text{
            padding:24pt;
        }
        #link-my-projects{
            font-family: monospace;
            font-size:21pt;
            padding:.60pt;
            margin-left:.900pt;
        }
        h3.carbonesMarketingSystem{
            text-align:center;
            font-size:48pt;
            padding:0pt .60pt;
        }
        a.pop-up-carbones-website-content{
            font-family: monospace;
            font-size:21pt;
            padding:.60pt;
            margin-left:.900pt;
            color:black;
            margin-bottom:.24pt;
            border:0;
            background:none;
        }
        a.pop-up-carbones-website-content:hover{
            transition: 0.5s ease;
            color:#8001FE;
            text-decoration-color:#8001FE;
        }
    }
}



/*Styles for the About container*/
.about{
    background: linear-gradient(#8001FE, #cf9bfe);
    display: grid;
    position: relative;
    grid-gap:24pt;
    grid-template-columns: repeat(auto-fit, minmax(94pt, 1fr));
    #heading-about{
        font-size:60pt;
        color:#8001FE;
        text-align:center;
        margin-top:.60pt;
        margin-right:.900pt;
        padding:.36pt;
        background-color:white;
        border-radius:24pt;
    }
    .about-container-text{
        padding:60pt 0pt;
    }
    #about-text{
        color:white;
        padding-top:18pt;
    }
    .about-container-image-circuts{
        height:480pt;
        #about-image-circuts{
            height:100%;
            width:100%;
            object-fit:fill;
        }
    }
}

/*Styles for Contact container*/
.contact{
    width:60%;
    padding: 60pt 24pt;
    margin-right:auto;
    margin-left:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    .contact-form{
        align-items:center;
        justify-content:center;
        background: linear-gradient(#8001FE, #cf9bfe);
        border-radius:24pt;
        display: flex;
        flex-direction:column;
        width:80%;
        padding: 0 0;
        #heading-contact{
            font-size:66pt;
            padding:.60pt;
            color:white;
        }
        input.contact-form, textarea.contact-form{
            margin:.900pt 0 ;
            padding: .60pt;
            background:white;
            font-family:monospace;
            font-size:12pt;
        }
        textarea.contact-form{
            resize: vertical;
        }
        #contact-button{
            margin:24pt 0;
            padding:14pt;
            background:black;
            color:white;
            border-radius:24pt;
            font-family:monospace;
            border-color:rgba(255,255,255,0);
        }
        #contact-button:hover{
            transition:.5s ease;
            color:#8001FE;
            background:white;
        }
        #name{

        }
        #email{

        }
        #phone{

        }
        #message{

        }
    }
}

/*Styles for the bottom navbar*/
#bottomNavBar{
    overflow:hidden;
    width:100%;
    top:0;
    z-index:500;
    display: grid;
    position: relative;
    grid-gap:24pt;
    grid-template-columns: repeat(auto-fit, minmax(94pt, 1fr));
    padding:36pt 0pt;
    background:linear-gradient(black, #350E56);
    .my-links-container{
        display: inline-grid;
        margin-right:auto;
        margin-left:auto;
        display:grid;
        align-items:center;
        justify-content:center;
        text-decoration-color:white;
        font-family:monospace;
        color:white;
        a.my-links-container{
            font-size:24pt;
        }
        a.my-links-container:hover{
            transition: 0.5s ease;
            color:#8001FE;
            text-decoration-color:#8001FE;
        }
        #my-links-heading{
            color:#8001FE;
            font-size:48pt;
            margin: 0 0;
            margin-bottom:.60pt;
            grid-row:1;
        }
        #bot-navbar-home-link{
            grid-row:2;
        }
        #bot-navbar-my-portfolio-link{
            grid-row:3;
        }
        #bot-navbar-about-link{
            grid-row:4;
        }
        #bot-navbar-contact-link{
            grid-row:5;
        }
    }


    .on-the-web-container{
        display: inline-grid;
        display:grid;
        text-decoration-color:#8001FE;
        font-family:monospace;
        grid-gap: 0pt;
        a.on-the-web-container{
            grid-row:2;
        }
        h3.on-the-web-container{
            grid-column: auto/span 2;
            font-size: 48pt;
            margin:0 0;
            padding-bottom:.900pt;
            align-self:center;
            justify-self:center;
        }
        #github-link{
            margin-right:auto;
            align-self:center;
        }
        #normal-github-logo{
            height:84pt;
        }
        #purple-github-logo{
            height:84pt;
            display:none;
        }
        #linked-in-link{
            margin-left:auto;
            align-self:center;
        }
        #purple-linkedin-logo{
            display:none;
        }
    }
    #linked-in-link:hover #normal-linkedin-logo{
        display:none;
    }
    #linked-in-link:hover #purple-linkedin-logo{
       display:grid;
    }
    #github-link:hover #normal-github-logo{
        display:none;
    }
    #github-link:hover #purple-github-logo{
        display:grid;
    }

    .logo-container{
        display:flex;
        justify-content:center;
        align-items:center;
        img.logo-container{
            width:156pt;
            height:156pt;
            border-radius:.900pt;
        }
    }
}

